/* @import ""; */

*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  font-family: "Ubuntu", sans-serif;
}
.page__body {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  display: flex;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}
.header__nav {
  display: flex;
  list-style: none;
  margin-left: 40px;
}
.link__logo {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
}
.link__logo:hover {
  filter: sepia(1) hue-rotate(10deg) saturate(400) brightness(50%);
}
.header__icon {
  margin-left: 700px;
}
.link__icon {
  color: #ffffff;
  text-decoration: none;
  justify-content: flex-end;
}

.link__icon1 {
  position: absolute;
  top: 17px;
  right: 405px;
}
.link__icon2 {
  position: absolute;
  top: 18px;
  right: 355px;
}
.link__icon3 {
  position: absolute;
  top: 18px;
  right: 308px;
}
.link__icon1:hover {
  filter: sepia(1) hue-rotate(10deg) saturate(400) brightness(50%);
}
.link__icon2:hover {
  filter: sepia(1) hue-rotate(10deg) saturate(400) brightness(50%);
}
.link__icon3:hover {
  filter: sepia(1) hue-rotate(10deg) saturate(400) brightness(50%);
}
.link__icon:hover {
  filter: sepia(1) hue-rotate(10deg) saturate(400) brightness(50%);
}
.link__icon3::after {
  content: " ";
  background: rgba(255, 255, 255, 0.9);
  opacity: 30%;
  position: absolute;
  left: 47px;
  width: 1px;
  height: 19px;
}
.header__autho {
  position: absolute;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  line-height: 14px;
  right: 79px;
  top: 22px;
}
.log__in {
  display: block;
  margin: 54px auto;
  width: 444px;
  height: 584px;
  background-color: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  position: relative;
}
#square {
  position: absolute;
  top: 33px;
  width: 18px;
  height: 18px;
  background: #3cb878;
}
.title {
  font-size: 20px;
  line-height: 20px;
  padding-top: 31px;
  padding-left: 61px;
  color: #434343;
}
.title__link {
  font-size: 14px;
  line-height: 14px;
  padding-left: 216px;
  color: #3cb878;
  text-decoration: none;
}
.title__link:hover {
  text-decoration: underline;
}
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-left: 55px;
  margin-right: 55px;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
}
.button {
  border: 6px solid #0a162f;
}
.facebook {
  padding: 0;
  width: 160px;
  height: 48px;
  position: relative;
  justify-items: start;
  background-color: #305db8;
  border-radius: 5px;
}
.facebook:hover {
  background: #022263;
}
.facebook::before {
  content: "f";
  width: 12px;
  height: 24px;
  font-family: "Ruda", sans-serif;
  margin-right: 125px;
  color: #ffffff;
  font-size: 30px;
}
.facebook:after {
  content: " ";
  background: #0a162f;
  mix-blend-mode: normal;
  opacity: 0.1;
  position: absolute;
  left: 49px;
  top: 5px;
  width: 1px;
  height: 28px;
}
.button1 {
  position: absolute;
  bottom: 0;
  right: 26px;
  color: #ffffff;
}
.google {
  padding: 0;
  width: 160px;
  height: 48px;
  background: #df4a32;
  position: relative;
  border-radius: 5px;
}
.google:hover {
  background: #ab1f09;
}
.google::before {
  content: "G+";
  font-family: "Ruda", sans-serif;
  width: 12px;
  height: 24px;
  margin-right: 108px;
  color: #ffffff;
  font-size: 30px;
}
.google:after {
  content: " ";
  background: #0a162f;
  mix-blend-mode: normal;
  opacity: 0.1;
  position: absolute;
  left: 49px;
  top: 5px;
  width: 1px;
  height: 28px;
}
.button2 {
  position: absolute;
  bottom: -1px;
  right: 26px;
  color: #ffffff;
}
.form__start {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 14px;
  line-height: 14px;
  align-items: center;
  color: #848484;
  position: relative;
}
.form__start::before {
  content: "";
  border: 0.5px solid #f2f2f2;
  position: absolute;
  right: 234px;
  height: 0px;
  width: 152px;
}
.form__start::after {
  content: "";
  border: 0.5px solid #f2f2f2;
  position: absolute;
  left: 234px;
  height: 0px;
  width: 152px;
}
.form__fill {
}
.textField {
  margin-left: 61px;
  width: 322px;
  height: 44px;
  font-size: 14px;
  line-height: 14px;
  box-sizing: border-box;
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  color: #bebebe;
}
.textField:hover {
  color: #434343;
}
.checkbox {
  margin-left: 61px;
}

.checkbox__text2 {
  position: absolute;
  bottom: 77px;
  left: 185px;
}
.checkbox__text2:hover {
  color: #3cb878;
  text-decoration: underline;
}
.last__button {
  margin-left: 61px;
  margin-top: 20px;
  width: 324px;
  height: 46px;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  color: #ffffff;
}
.last__button:hover {
  background: #01813f;
}
