/* @import ""; */

*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  max-height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 60px;
}

a {
  text-decoration: none;
}

img {
  max-width: 320px;
  height: 381px;
  margin-top: 75px;
  margin-left: 297px;
  margin-right: 268px;
}
.container {
  width: 1280px;
  margin: 0 auto;
}

.title {
  display: flex;
  justify-content: center;
  width: 334px;
  height: 79px;
  font-size: 80px;
  line-height: 94px;
  color: rgb(55, 55, 55);
}
span {
  color: #4bcaff;
}
.main {
  display: flex;
  justify-content: center;
  border: 1px solid #000;
  width: 1283px;
  height: 72px;
  margin-top: 38px;
  background-color: #35444f;
  padding-left: 0;
}
.main__item1 {
  display: flex;
  padding: 30px;
  align-items: center;
  border-left: 1px solid #ffffff;
  height: 100%x;
}
.main__item2 {
  display: flex;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 26px;
  justify-content: center;
  border-left: 1px solid #ffffff;
  width: 153px;
  height: 100%;
}
.main__item3 {
  display: flex;

  justify-content: center;
  align-items: center;
  border-left: 1px solid #ffffff;
  width: 284px;
  height: 100%;
}
.main__item4 {
  display: flex;

  align-items: center;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  justify-content: center;
  width: 284px;
  height: 100%;
  padding: 36px;
}
.main__item5 {
  display: flex;
  align-items: center;
}
.info {
  margin-top: 48px;
  width: 344px;
  height: 399px;
  border: 1px solid #000000;
  color: #485863;
  display: flex;
  flex-direction: column;
  font-size: 27px;
  line-height: 27px;
}
.info1 {
  display: flex;
  padding-left: 44px;
  margin-top: 26px;
}
.info2 {
  display: flex;
  margin-top: 52px;
  padding-left: 44px;
}
.info3 {
  display: flex;
  margin-top: 52px;
  padding-left: 44px;
}
.info4 {
  display: flex;
  margin-top: 52px;
  padding-left: 44px;
}
.info5 {
  display: flex;
  margin-top: 52px;
  padding-left: 44px;
}
.frame {
  display: flex;
  justify-content: space-around;
  margin-left: 396px;
  margin-top: -400px;
  width: 885px;
  height: 529px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
}
.text {
  display: inline-block;
  align-items: center;
  margin-left: 396px;
  margin-top: 37px;
  width: 885px;
  height: 120px;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}
.footer {
  display: flex;
  width: 1280px;
  height: 69px;
  background: rgba(99, 105, 110, 0.48);
  padding-left: 0;
  margin-top: 40px;
}
.end__item1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 875px;
  height: 28px;
  font-size: 28px;
  line-height: 28px;
  margin: 20px 135px 40px 21px;
  color: #0c1927;
}
.end__item2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 69px;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
  margin-right: 40px;
}
