/* @import ""; */

*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
.page__body {
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
  background: #f2f2f2;
}
.header {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 1900px;
  height: 70px;
  background-color: #313131;
}
.header__item {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}
.header__item:nth-child(3) {
  padding-left: 625px;
}
.header__item:nth-child(8) {
  padding-right: 445px;
}
.img__logo {
  position: absolute;
  left: 29px;
  top: 22px;
}
.header__logo {
  position: absolute;
  left: 83px;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}
.search__button {
  justify-content: end;
  width: 68px;
  height: 70px;
  background: #000000;
}
.header__link {
  color: #ffffff;
}
.header__link:hover {
  color: rgba(20, 185, 213, 1);
}
.title {
  margin: 0;
  display: flex;
  width: 1900px;
  height: 369px;
  background-image: url(../images/header-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  flex-direction: column;
}
.title__text {
  margin: 0;
  text-align: center;
  font-size: 27px;
  line-height: 37px;
  color: #ffffff;
  margin-top: 163px;
}
.title__buttons {
  display: flex;
  justify-content: center;
  margin: 0;
}
.sub__button:nth-child(2) {
  background: #14b9d5;
}
.sub__button {
  display: inline-block;
  background: #89ca62;
  width: 170px;
  height: 55px;
  margin-left: 20px;
  margin-top: 44px;
}
.sub__link {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.posts {
  margin-top: 30px;
  background: #f2f2f2;
}
.posts__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 49px;
}
.posts__text {
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #18b4cf;
}
.posts__text:hover {
  text-decoration: underline;
  color: rgba(20, 185, 213, 1);
}
.posts__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 36px;
  margin-left: 360px;
  margin-right: 350px;
  justify-content: space-around;
  padding: 0;
}

.posts__item {
  list-style: none;
  margin-top: 30px;
  padding: 0;
  position: absolute;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  background-color: #ffffff;
}
.posts__item:nth-child(1) {
  align-self: start;
  left: 370px;
  top: 572px;
}
.posts__item:nth-child(2) {
  align-self: start;
  top: 572px;
}
.posts__item:nth-child(3) {
  left: 1170px;
  right: 360px;
  top: 572px;
}
.posts__item:nth-child(4) {
  align-self: flex-start;
  left: 370px;
  top: 923px;
}
.posts__item:nth-child(5) {
  align-self: flex-start;
  top: 1045px;
}
.posts__item:nth-child(6) {
  top: 964px;
  right: 361px;
  left: 1170px;
}
.posts__descr {
  text-align: center;
  background-color: #ffffff;
  color: #353a3d;
}
.second__section {
  display: grid;
  justify-content: center;
  margin-top: 950px;
  align-items: center;
  background-image: url(../images/second__bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
}
.second__title {
  display: grid;
  justify-content: center;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  align-items: center;
}
.line {
  display: grid;
  border-width: 0;
  border-style: solid;
  width: 60px;
  height: 3px;
  color: #18b4cf;
  background: #18b4cf;
}
.second__title__names {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1.5fr 2fr 1fr;
  list-style: none;
  margin-top: 90px;
  padding-bottom: 191px;
}
.photo__list {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(7, 1fr);
  padding-top: 52px;
  padding-left: 0;
  padding-right: 0;
}
.news {
  margin-left: 334px;
  margin-right: 361px;
  display: grid;
  list-style: none;
  grid-template-columns: repeat(2, 1fr);
  gap: 44px;
  padding-top: 51px;
  text-align: right;
  position: relative;
}
.news__item1 {
  text-align: left;
}
.news__center {
  position: absolute;
  text-align: center;
  top: 80px;
  left: 540px;
  width: 350px;
  height: 140px;
}
.news__item7 {
  text-align: left;
}
.news__link {
  list-style: none;
}
.news__photo8 {
  position: absolute;
  right: 374px;
}
.news__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
}
.news__title2 {
  position: absolute;
  right: 40px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
}
.news__link1 {
  float: left;
}
.news__text {
  text-align: right;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
  background: #f9f7f7;
}
.news__text8 {
  position: absolute;
  right: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
  background: #f9f7f7;
  width: 350px;
  height: 140px;
}
.footer {
  margin-top: 3720px;
  background-color: black;
  margin-bottom: 0;
  height: 80px;
  width: 1900px;
  position: relative;
}
.footer__text {
  padding-top: 30px;
  padding-left: 367px;
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
}
.footer__logo {
  position: absolute;
  right: 386px;
  bottom: 30px;
}
