/* @import ""; */

*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
.page__body {
  max-width: auto;
  margin-left: 161px;
  margin-right: 178px;
  margin-top: 51px;
  margin-right: auto;
  background: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-left: 0;
}
.logo {
}
.logo__link {
}
.logo__text__container {
  margin-left: 10px;
  float: right;
}
.logo__text {
  text-transform: uppercase;
  margin: 0;
  font-size: 29px;
  line-height: 29px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
}
.logo__text2 {
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
}
.logo__img:hover {
  filter: sepia(1) hue-rotate(300deg) saturate(200);
}
.logo__text:hover {
  color: rgba(242, 101, 34, 1);
}
.logo__text2:hover {
  color: rgba(242, 101, 34, 1);
}
.logo__info__text {
  margin-top: 0;
  margin-right: 177px;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}
.logo__info__text2 {
  display: flex;
  margin-right: 177px;
  margin-top: 18px;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  justify-content: end;
}
.logo__info__text:hover {
  color: rgba(242, 101, 34, 1);
}
.logo__info__text2:hover {
  color: rgba(242, 101, 34, 1);
}
.nav__img {
  background: linear-gradient(to right, red, purple);
  padding: 3px;
}
.navigation {
  display: grid;
  margin-right: 177px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 300px 300px 300px;
  justify-content: space-between;
  position: relative;
}
.link__nav1 {
  position: relative;
}
.link__nav2 {
  position: relative;
}
.link__nav3 {
  position: relative;
}
.link__nav4 {
  position: relative;
}
.link__nav5 {
  position: relative;
}
.link__nav6 {
  position: relative;
}
.orange__block {
  position: absolute;
  display: flex;
  margin: 0;
  width: 300px;
  height: 55px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  bottom: 0;
  background-color: rgba(242, 101, 34, 1);
  opacity: 0;
  transition: opacity 0.6s;
  visibility: hidden;
}
.orange__block2 {
  position: absolute;
  display: flex;
  width: 300px;
  height: 55px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  bottom: 0;
  background-color: rgba(242, 101, 34, 1);
  opacity: 0;
  transition: opacity 0.6s;
  visibility: hidden;
}
.orange__block3 {
  position: absolute;
  display: flex;
  margin: 0;
  width: 300px;
  height: 55px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  bottom: 0;
  background-color: rgba(242, 101, 34, 1);
  opacity: 0;
  transition: opacity 0.6s;
  visibility: hidden;
}
.orange__block4 {
  position: absolute;
  display: flex;
  margin: 0;
  width: 300px;
  height: 55px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  bottom: 0;
  background-color: rgba(242, 101, 34, 1);
  opacity: 0;
  transition: opacity 0.6s;
  visibility: hidden;
}
.orange__block5 {
  position: absolute;
  display: flex;
  margin: 0;
  width: 300px;
  height: 55px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  bottom: 0;
  background-color: rgba(242, 101, 34, 1);
  opacity: 0;
  transition: opacity 0.6s;
  visibility: hidden;
}
.orange__block6 {
  position: absolute;
  display: flex;
  margin: 0;
  width: 300px;
  height: 55px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  bottom: 0;
  background-color: rgba(242, 101, 34, 1);
  opacity: 0;
  transition: opacity 0.6s;
  visibility: hidden;
}
.block__word {
  padding-left: 16px;
}
.block__price {
  position: absolute;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  padding-left: 16px;
  padding-top: 8px;
}
.block__info {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 8px;
  position: absolute;
  bottom: 0px;
  right: 37px;
}
.orange__block::after {
  content: ">";
  font-size: 14px;
  line-height: 14px;
  padding-top: 34px;
  padding-left: 230px;
}
.orange__block2::after {
  content: ">";
  font-size: 14px;
  line-height: 14px;
  padding-top: 34px;
  padding-left: 230px;
}
.orange__block3::after {
  content: ">";
  font-size: 14px;
  line-height: 14px;
  padding-top: 34px;
  padding-left: 230px;
}
.orange__block4::after {
  content: ">";
  font-size: 14px;
  line-height: 14px;
  padding-top: 34px;
  padding-left: 230px;
}
.orange__block5::after {
  content: ">";
  font-size: 14px;
  line-height: 14px;
  padding-top: 34px;
  padding-left: 230px;
}
.orange__block6::after {
  content: ">";
  font-size: 14px;
  line-height: 14px;
  padding-top: 34px;
  padding-left: 230px;
}
.link__nav1:hover > .orange__block {
  opacity: 1;
  transition: 0.6s ease;
  visibility: visible;
}
.link__nav2:hover > .orange__block2 {
  opacity: 1;
  transition: 0.6s ease;
  visibility: visible;
}
.link__nav3:hover > .orange__block3 {
  opacity: 1;
  transition: 0.6s ease;
  visibility: visible;
}
.link__nav4:hover > .orange__block4 {
  opacity: 1;
  transition: 0.6s ease;
  visibility: visible;
}
.link__nav5:hover > .orange__block5 {
  opacity: 1;
  transition: 0.6s ease;
  visibility: visible;
}
.link__nav6:hover > .orange__block6 {
  opacity: 1;
  transition: 0.6s ease;
  visibility: visible;
}
.nav__title:hover {
  color: rgba(242, 101, 34, 1);
}
.nav__title {
  display: flex;
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
  justify-content: center;
  color: #ffffff;
}
.footer {
  position: absolute;
  bottom: 15px;
  left: 780px;
  color: #ffffff;
}
