body {
  background: rgb(20, 20, 20);
  overflow: hidden;
  font-family: sans-serif;
  margin: 30% 0 0 0;
  position: relative;
}

.container {
  display: flex;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  perspective: 450px;
}
.text {
  color: #ffc909;
  font-size: 3vw;
  line-height: 1.5em;
  font-weight: bold;
  text-align: justify;
  position: relative;
  animation: scroll 30s ease-in;
  animation-iteration-count: infinite;
}
h1,
h2 {
  text-align: center;
}

@keyframes scroll {
  from {
    top: 0;
    transform: translateZ(0) rotateX(20deg);
  }
  to {
    top: -4500px;
    transform: translateZ(-2500px) rotateX(21deg);
  }
}
