/* @import ""; */

*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page__header {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.nav__list {
  text-transform: uppercase;
  display: inline;
  text-align: center;
  margin-top: 25px;
  margin-right: 72px;
}
.nav__list__link {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  color: rgba(255, 0, 0, 1);
}

.banner__img {
  width: 100%;
  height: 789px;
  object-fit: cover;
}
.title {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: rgba(55, 55, 55, 1);
}
.page__title {
  margin-top: 49px;
  font-weight: 400px;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
}
.text1 {
  margin-top: 38px;
  margin-left: 68px;
  margin-right: 68px;
  margin-bottom: 0px;
  font-weight: 400px;
  letter-spacing: 2.4px;
  font-size: 16px;
  line-height: 26px;
  color: #373737;
}
.text2 {
  margin: 28px;
  margin-left: 68px;
  margin-right: 68px;
  letter-spacing: 2.4px;
  font-size: 16px;
  line-height: 26px;
  color: #373737;
}
.button {
  margin-top: 35px;
  margin-left: 545px;
  margin-right: 545px;
  width: 191px;
  height: 51px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  background: rgba(255, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
}
.footer {
  text-align: right;
  margin-top: 82px;
  margin-right: 105px;
  height: 39px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
}
