.list {
  display: flex;
  flex-direction: column;
  height: 400px;
  flex-wrap: wrap;
}
.number1 {
  border: 1px solid black;
  color: black;
  background-color: cadetblue;
  height: 100%;
  width: 80%;
}
.number2 {
  border: 1px solid black;
  color: black;
  height: calc(100% \ 2 - 10px)
  width:calc(20% - 20px)
}
